
.logo-wrapper {
    /*padding: 0 15%;*/
    padding: 10%;
}

.double-nav {
    color: #292b2c;
}

.nav-wrapper {
    padding: 0 !important;
}

#side-nav {
    height: 100%;
    position: fixed;
    background: #fff;
    z-index: 99999;
}

.navbar.navbar-dark .breadcrumb a, .navbar.navbar-dark .navbar-nav .nav-item a {
    color: #040404;
}

.side-nav li {
    margin: 22px 0px;
    font-size: 1em;
}

.side-nav li a {
    padding: 18px 0px;
}

.fa-2x {
    font-size: 1.5em;
}

@media (min-width: 1400px) {
     #page-wrapper {
         padding: 5% 0;
    }
}

@media (min-width: 992px){

    #page-wrapper {
        padding: 5% 0;
    }
}

@media (min-width: 768px) {

    #page-wrapper {
        padding: 5% 0;
    }
}


/************** Radio buttons *************/



.radio-container {
    clear: both !important;
    display: table-cell !important;
    margin: 0px 50px !important;
    padding: 0px 3% !important;
}

.rd-label{
    width: 200px !important;
    border-radius: 3px !important;
    border: 1px solid #D1D3D4 !important;
    position: relative !important;
    float: left !important;
    line-height: 2.5em !important;
    text-indent: 3.25em !important;
    margin-top: 2em !important;
    cursor: pointer !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

input[type=radio]:empty {
    margin-left: -999px !important;
    visibility: hidden !important;
}

.rd-label::before {
    position: absolute !important;
    display: block !important;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    content: '' !important;
    width: 2.5em !important;
    background: #D1D3D4 !important;
    border-radius: 3px 0 0 3px !important;
}

input[type=radio]:hover:not(:checked) ~ .rd-label:before {
    content:'\2714' !important;
    text-indent: .9em !important;
    color: #C2C2C2 !important;
}


input[type=radio]:hover:not(:checked) ~ .rd-label {
    color: #888 !important;
}

/* toggle on */
input[type=radio]:checked ~ .rd-label:before {
    content:'\2714' !important;
    text-indent: .9em !important;
    color: #9CE2AE !important;
    background-color: #4DCB6D !important;
}

input[type=radio]:checked ~ .rd-label {
    color: #777 !important;
}

/* radio focus */
input[type=radio]:focus ~ .rd-label:before {
    box-shadow: 0 0 0 3px #999 !important;
}

/************************ radio ends here *************/

input[type=date]:focus:not([readonly])+label, input[type=datetime-local]:focus:not([readonly])+label, input[type=email]:focus:not([readonly])+label, input[type=number]:focus:not([readonly])+label, input[type=password]:focus:not([readonly])+label, input[type=search-md]:focus:not([readonly])+label, input[type=search]:focus:not([readonly])+label, input[type=tel]:focus:not([readonly])+label, input[type=text]:focus:not([readonly])+label, input[type=time]:focus:not([readonly])+label, input[type=url]:focus:not([readonly])+label, textarea.md-textarea:focus:not([readonly])+label {
    color: #06bf51;
}

input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=search-md]:focus:not([readonly]), input[type=search]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=url]:focus:not([readonly]), textarea.md-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #06bf51;
    box-shadow: 0 1px 0 0 #087c37;
}

.form-control:focus {
    color: #464a4c;
    border-color: #06bf51;
    outline: 0;
}

.sidenav li a {
    color: #292b2c;
}

[type=radio]:checked+label:after {
    border: 2px solid #06bf51;
    background-color: #06bf51;
}

td form {
    display: inline-block;
}

li form {
    display: inline-block;
}

.table a {
    margin-left: 0;
}

.btn-default {
    background: #06bf51;
}

.btn-default:active, .btn-default:focus, .btn-default:hover {
    background-color: #087c37!important;
}

.menu-icon:hover, .menu-icon:focus
{
    -webkit-animation: swing 0.6s ease-out;
    animation: swing 0.6s ease-out;
}
@-webkit-keyframes swing {
    0%   { -webkit-transform: rotate(0deg)  skewY(0deg); }
    20%  { -webkit-transform: rotate(12deg) skewY(4deg); }
    60%  { -webkit-transform: rotate(-9deg) skewY(-3deg); }
    80%  { -webkit-transform: rotate(6deg)  skewY(-2deg); }
    100% { -webkit-transform: rotate(0deg)  skewY(0deg); }
}

@keyframes swing {
    0% {
        transform: rotate(0deg) skewY(0deg);
    }
    20% {
        transform: rotate(12deg) skewY(4deg);
    }
    60% {
        transform: rotate(-9deg) skewY(-3deg);
    }
    80% {
        transform: rotate(6deg) skewY(-2deg);
    }
    100% {
        transform: rotate(0deg) skewY(0deg);
    }
}

.list-group-item {
    text-transform: capitalize;
}

.dropdown .dropdown-menu .dropdown-item:hover {
    background-color: #06bf51 !important;
    border-radius: 0;
}

.dropdown .dropdown-menu {
    margin: 0;
    padding: 0;
    border-radius: 0;
}

.card .form-header {
    padding: 0.5rem;
}

#equipe-list {
    margin-bottom: 70px;
}

#equipe-list .list-group{
     -webkit-box-shadow: none;
     box-shadow: none;
}

.equipe-list{
    -webkit-box-shadow: none;
    box-shadow: none;
}

.equipe-list li {
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    margin-bottom: 1px;
    border-radius: 0 !important;
}

.equipe-list a {
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    margin-bottom: 1px;
    border-radius: 0 !important;
}

#equipe-list a {
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    margin-bottom: 1px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

#equipe-list a:last-child {
    border-bottom: 0;
}

#services-list .list-group{
    -webkit-box-shadow: none;
    box-shadow: none;
}

#services-list a {
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    margin-bottom: 1px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

#services-list a:last-child {
    border-bottom: 0;
}

.card .form-header h3 {
    padding: .5rem;
}

.table tbody tr td{
    text-transform: capitalize;
}

/************** Upload file *************/
.droppable { background: #08c; color: #fff; padding: 100px 0; text-align: center; }
.droppable.dragover { background: #00CC71; }
.droppable input {display: none;}
/*************** End upload file *************/

#member-reunion-list {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow : none;
}

#member-reunion-list li.list-group-item {
    background: transparent;
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,0.25);
}


#scroll::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

#scroll::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

#scroll::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: #FFF;
    background-image: -webkit-gradient(linear,
    40% 0%,
    75% 84%,
    from(#4D9C41),
    to(#19911D),
    color-stop(.6,#54DE5D))
}

.scrollbar
{
    height: 300px;
    overflow-y: scroll;
    margin-bottom: 25px;
}

.force-overflow
{
    min-height: 450px;
}

.projet-item {
    margin: 5%;
    background: #fff;
    padding: 5%;
     border-radius: 5px;
}

.projet-encours {
    border-left: 5px solid #06bf51;
}

.projet-cloture {
    border-left: 5px solid #d9534f;
}